<div
  class="bg-secondaryColor overflow-hidden p-2 select-none rounded-lg h-[140px]"
>
  <!-- user image -->
  <div class="flex items-center">
    <img
      [src]="userProfile"
      alt="user-img"
      class="w-16 h-16 rounded-full object-cover"
    />
    <!-- input for what happening -->
    <input
      type="text"
      class="bg-[#28353E] p-3 w-full mx-4 rounded-lg outline-none h-full text-white text-lg ml-2"
      placeholder="What's happening?"
    />
  </div>

  <!-- media -->
  <div class="mt-4 flex justify-center gap-x-5">
    <!-- photos -->
    <div
      class="cursor-pointer hover:scale-110 duration-150 transition-all transform flex gap-3 p-2 w-[100px] border rounded-xl"
    >
      <!-- icon -->
      <span class="material-icons text-green-300"> photo </span>
      <!-- text -->
      <span class="text-white">Photo</span>
    </div>

    <div
      class="cursor-pointer hover:scale-110 duration-150 transition-all transform flex gap-3 p-2 w-[100px] border rounded-xl"
    >
      <!-- icon -->
      <span class="material-icons text-blue-300"> movie</span>
      <!-- text -->
      <span class="text-white">Video</span>
    </div>

    <!-- she dual -->
    <div
      class="cursor-pointer hover:scale-110 duration-150 transition-all transform flex gap-3 p-2 w-[120px] border rounded-xl"
    >
      <!-- icon -->
      <span class="material-icons text-yellow-300"> calendar_month</span>
      <!-- text -->
      <span class="text-white">schedule</span>
    </div>

    <!-- feelings -->

    <div
      class="cursor-pointer hover:scale-110 duration-150 transition-all transform flex gap-3 p-2 w-[120px] border rounded-xl"
    >
      <!-- icon -->
      <span class="material-icons text-red-300"> mood</span>
      <!-- text -->
      <span class="text-white">feeling</span>
    </div>
  </div>
</div>
