<div class="flex gap-10 justify-center items-center">
  <!-- like -->
  <button
    class="flex gap-3 disabled:cursor-not-allowed items-center cursor-pointer bg-[#28353E] py-2 justify-center px-5 rounded-md mt-4"
    (click)="likePost()"
    [disabled]="likeLoading"
  >
    <span class="material-icons text-white">favorite</span>
    <h1 class="text-gray-50 text-sm">Like</h1>
  </button>

  <!--  Retweet -->
  <button
    class="flex gap-3 items-center cursor-pointer bg-[#28353E] py-2 justify-center px-5 rounded-md mt-4"
  >
    <span class="material-icons text-white">repeat</span>
    <h1 class="text-gray-50 text-sm">Retweet</h1>
  </button>

  <!--  Comment -->
  <button
    (click)="showCommentBox()"
    class="flex gap-3 items-center cursor-pointer bg-[#28353E] py-2 justify-center px-5 rounded-md mt-4"
  >
    <span class="material-icons text-white">chat_bubble</span>
    <h1 class="text-gray-50 text-sm">Comment</h1>
  </button>

  <!-- share -->
  <button
    class="flex gap-3 items-center cursor-pointer border-[1px] hover:bg-[#28353E] border-[#28353E] py-2 justify-center px-5 rounded-md mt-4"
  >
    <span class="material-icons text-white">ios_share</span>
  </button>
</div>
